@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(15, 83, 126);
    color: white;
}

button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid rgb(169, 158, 219);
    background-color: rgb(33, 228, 211);
    color: rgb(16, 80, 109);
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
}

#counter {
    display: flex;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16pt;
}

.negative {
    color: red;
    font-weight: bold;
}